<!DOCTYPE html>
<html>
<head>
  <title>Rails Eshop</title>
</head>

<body>
<div id="container">


  <div id="content">

    <div id="mainPhoto">
      <%= image_tag("topMainPhoto.png") %>

      <div id="whiteBoxMainPhoto">
        <% if logged_in? %>
          <div id="mainPhotoDesc">Rails Eshop</div>
          <div id="mainPhotoGreyDesc">
            Gaming experience on the highest level
          </div>
          <div id="mainPhotoCategoryLink">
            <%= link_to products_by_category_path(:category_name => "Video Games") do %>
              Category: Video Games
              <%= image_tag("next.png") %>
            <% end %>
          </div>
        <% else %>
          <div id="mainPhotoDesc">Rails Eshop</div>
          <div id="mainPhotoGreyDesc">
            Get access to over 9000 various products
          </div>
          <div id="mainPhotoCategoryLink">
            <%= link_to signup_path do %>
              Sign up now
              <%= image_tag("next.png") %>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>

    <div id="categoriesTiles">

      <div id="categoriesTilesHeader">Shop By Category</div>

      <table id="categoriesTilesTable">
        <tr>

          <td>
            <%= link_to products_by_category_path(:category_name => "Video Games",:page => 1) do %>
              <% image_tag("xbox-one.png") %>
            <% end %>
            <br>
            Video Games

          </td>
          <td>
            <%= link_to products_by_category_path(:category_name => "Headphones") do %>
              <% image_tag("jblHeadphones.png") %>
            <% end %>
            <br>
            Headphones
            </a>
          </td>
          <td>
            <%= link_to products_by_category_path(:category_name => "Laptops") do %>
              <% image_tag("laptop.png") %>
            <% end %>
            <br>
            Laptops
            </a>
          </td>

        </tr>

        <tr>
          <td>
            <%= link_to products_by_category_path(:category_name => "Phones") do %>
              <% image_tag("phones.png") %>
            <% end %>
            <br>
            Phones
            </a>
          </td>
          <td>
            <%= link_to products_by_category_path(:category_name => "Drones") do %>
              <% image_tag("drones.png") %>
            <% end %>
            <br>
            Drones
            </a>
          </td>
          <td>
            <%= link_to products_by_category_path(:category_name => "Tv") do %>
              <% image_tag("tvs.png") %>
            <% end %>
            <br>
            TV's
            </a>
          </td>
        </tr>
      </table>

    </div>


  </div>


</div>

</div>

</body>
</html>