<div class="productLeftSide">

  <div id="productName"><%= @product.name %></div>

  <div id="productPhoto">
    <%= image_tag(@product_image.picture.url, size: "440x440") %>
  </div>

</div>

<div class="productRightSide">

  <%= form_tag add_product_to_cart_path do%>
    <table class="productSaleTable">

      <tr>
        <td><%= @product.price %> &dollar;

          <div id="productSoldDesc">Sold &amp; shipped by Shop-Electronics</div>
        </td>
      </tr>
      <tr>
        <td><b>FREE SHIPING</b><br> Arrives by <%= @arrives_date %></td>
      </tr>
      <tr>
        <td>Free pickup not available from this seller</td>
      </tr>
      <tr>
        <td>Protect your device from drops &amp; spills with <b>Care
          Plan</b> <br> <br>
          <%= check_box_tag 'device_protection' %> Add <b>2-Year</b> Device Protection <b>&dollar;
          2.00</b>

        </td>
      </tr>
      <tr>
        <td>
          <div style="float: left">
            Quantity: <%= select_tag 'quantity',options_for_select([1,2,3,4,5,6,7,8 ])%>

            </select>
          </div>

          <% if logged_in? %>
            <%= hidden_field_tag 'product_id', @product.id %>
            <%= submit_tag 'Add to cart', class: "btn btn-primary btn-lg",style: "margin-left:80px;" %>
          <% else %>
            <%= link_to 'Add to cart', login_path, class: 'productAddToCart' %>
          <% end %>

        </td>
      </tr>

    </table>
  <% end %>
  </form>
</div>
<div style="clear: both"></div>
<div class="productLeftSide">
  <div id="productHighlights">

    <h3>Highlights</h3>

    <ul>
      <% @highlights.each do |highlight| %>
        <li><%= highlight %></li>
      <% end %>
    </ul>
  </div>

  <div id="productDescription">

    <h3>Description</h3>

    <%= @product.description %>
  </div>

</div>


<div class="productRightSide">

  <table id="productSponsored">
    <tr>
      <td>
        <%= link_to product_path, {:id => @sponsored.id, :class => "productSponsoredPhotoLink"} do %>
          <%= image_tag(@sponsored_image.picture.url, size: "100x100") %>
        <% end %>
      </td>
      <td>
        <table id="productSponsoredContentTable">
          <tr>
            <td>Sponsored by <%= @sponsored.brand %></td>
          </tr>
          <tr>
            <td> <%= link_to @sponsored.name, product_path(:id => @sponsored.id) %></td>
          </tr>
          <tr>
            <td><%= @sponsored.price %> &dollar;</td>
          </tr>

        </table>
      </td>
    </tr>
  </table>
</div>

<div style="clear:both"></div>

<hr style="margin:30px 0 40px 0;">

<div id="productCustomerReviews">
  <div id="productCustomerReviewsLabel">
    Customer Reviews
  </div>

  <div id="productWriteReview">
    <div id="productWriteReviewContent">
      <%= link_to 'Write Review', new_review_path(:id => @product.id), class: 'whiteLinkTo' %>
    </div>

  </div>

  <div style="clear:both;"></div>

  <div id="productReviewsCount">
    <%= @product.reviews.length %> Reviews
  </div>

  <hr style="margin:30px 0 40px 0;">
  <div id="productReviews">

    <table id="productReviewsTable">

      <% @product.reviews.each do |review| %>
        <tr>
          <td style="padding-top:20px;">
            <div id="productReviewTitle">
              <h4><%= review.title %></h4>
            </div>
          </td>
        </tr>
        <tr>
          <td>
            <div style="font-size: 14px;
                word-wrap:break-word;
                display: block;
                overflow:hidden;
                height: 140px;
            "
                 id="reviewText<%= review.id %>">
              <%= review.content %>
            </div>
            <br>
            <% if review.content.length > 695 %>
              <a class="moreDesc" data-value="reviewText<%= review.id %>">More...</a>
            <% end %>
          </td>
        </tr>
        <tr>
          <td>
            <div class="smallGrey"><%= review.user.username %>,
              <%= review.created_at.strftime("%d/%m/%Y") %></div>
          </td>
        </tr>
      <% end %>
    </table>

  </div>

</div>

</div>